### Temporal.io ###

# description: An address and port number.
# format: URL
# example: <Namespace_ID>.tmprl.cloud
# link: https://docs.temporal.io/application-development/foundations#connect-to-a-cluster
# required: true
TEMPORAL_ADDRESS=

# description: A Namespace is a unit of isolation within the Temporal Platform.
# format: String
# example: <Namespace_ID>
# link: https://docs.temporal.io/application-development/foundations#connect-to-a-cluster
# required: true
TEMPORAL_NAMESPACE=

# description: mTLS CA certificate
# format: File Path
# example: ./tls/***.pem
# link: https://docs.temporal.io/application-development/foundations#connect-to-a-cluster
# required: true
TEMPORAL_CLIENT_CERT_PATH=

# description: mTLS CA private key
# format: File Path
# example: ./tls/***.key
# link: https://docs.temporal.io/application-development/foundations#connect-to-a-cluster
# required: true
TEMPORAL_CLIENT_KEY_PATH=

# description: To use local or Temporal Cloud 
# format: Boolean
# example: true
# link: https://legacy-documentation-sdks.temporal.io/typescript/security
# required: true
MTLS=false

# description: To use a custom Data Converter
# format: Boolean
# example: true
# link: https://docs.temporal.io/security#data-converter
# required: true
ENCRYPTION=false

### Node JS ###

# description: Your Node JS Port
# format: Number
# example: 1337
# required: true
PORT=8080